/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Review Assignment

   Special Effects style sheet
   Author: Juozas Kripas
   Date:   3/11/2016

   Filename:         dfeffects.css
   Supporting Files: paper.png

*/


