/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Review Assignment

   Special Effects style sheet
   Author: Juozas Kripas
   Date:   3/11/2016

   Filename:         dfeffects.css
   Supporting Files: paper.png

*/

nav#familyLinks{
    box-shadow: inset rgba(0,0,0,0.6) -10px 0px 15px;
}
nav#familyLinks img{
    box-shadow: rgba(0,0,0,0.6) 10px 10px 15px;
}
nav#familyLinks img:hover{
    transform: rotate(-5deg);
    opacity: 0.8;
}
article{
    background: -o-linear-gradient(left right, rgb(151,151,151),rgb(231,231,231));
    background: -ms-linear-gradient(left right, rgb(151,151,151),rgb(231,231,231));
    background: -moz-linear-gradient(left right, rgb(151,151,151),rgb(231,231,231));
    background: -webkit-linear-gradient(left right, rgb(151,151,151),rgb(231,231,231));
    background: linear-gradient(rgb(151,151,151), rgb(231,231,231));
}
h1{
   text-shadow: black 1px 1px 0px, rgba(30,57,0,0.8) 5px 5px 10px; 
}

