/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Review Assignment

   Special Effects style sheet
   Author: Juozas Kripas
   Date:   3/11/2016

   Filename:         dfeffects.css
   Supporting Files: paper.png

*/

nav#familyLinks{
    box-shadow: inset rgba(0,0,0,0.6) -10px 0px 15px;
}
nav#familyLinks img{
    box-shadow: rgba(0,0,0,0.6) 10px 10px 15px;
}
